<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/3937645/pexels-photo-3937645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary" (click)="alertService()">Alert</a>
            </div>
        </div>
    </div>
</div>