.wrap {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

section {
    background-color: #e4e4e4;
    padding: 5rem;
}

.form-group {
    margin-bottom: 1rem;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
}