<ul class="list-group">
    <li class="list-group-item active" [routerLink]="['/data-bind']" routerLinkActive="active" aria-current="true">Data Binding</li>
    <li class="list-group-item" [routerLink]="['/class-style']">Class Style Binding</li>
    <li class="list-group-item" [routerLink]="['/event-bind']">Event Binding</li>
    <li class="list-group-item" [routerLink]="['/template-reference']">Template Reference</li>
    <li class="list-group-item" [routerLink]="['/two-way-data-bind']">Two Way Data Binding</li>
    <li class="list-group-item" [routerLink]="['/ng-if']">Ng If</li>
    <li class="list-group-item" [routerLink]="['/else-block']">Else Block</li>
    <li class="list-group-item" [routerLink]="['/then-block']">Then Block</li>
    <li class="list-group-item" [routerLink]="['/ng-switch']">Switch Case</li>
    <li class="list-group-item" [routerLink]="['/ng-for']">Ng For</li>
    <li class="list-group-item" [routerLink]="['/push-splice']">Push & SPlice Method</li>
    <li class="list-group-item" [routerLink]="['/products']">Nested Routes/ Routing</li>
    <li class="list-group-item" [routerLink]="['/ng-content']">ng Content</li>
    <li class="list-group-item" [routerLink]="['/component-communication']">Component Communication - @Input and @Output Custom Property</li>
    <li class="list-group-item" [routerLink]="['/service-component']">Service</li>
    <li class="list-group-item" [routerLink]="['/exercise1']">Exercise 1</li>
    <li class="list-group-item" [routerLink]="['/subject-behaviour']">Subject and Behaviour</li>
    <li class="list-group-item" [routerLink]="['/view-child']">View Child</li>
    <li class="list-group-item" [routerLink]="['/pipes']">Pipes</li>
    <li class="list-group-item" [routerLink]="['/contact']">Template Reference Form</li>
    <li class="list-group-item" [routerLink]="['/reactive-form']">Reactive Form</li>
    <li class="list-group-item" [routerLink]="['/manage-product']">Manage Products</li>
    <li class="list-group-item" [routerLink]="['/manage-user']">Manage User</li>
</ul>
<a></a>